#footer {
  height: var(--ihc-footer-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--ihc-footer-gap);
  background-color: var(--ihc-BG-color-HeaderFooter);
  color: gray;
  /* position: fixed; */
}

.footer-img {
  width: 2rem;
  height: 2rem;
}
#footer > p {
  height: 1.2rem;
}

@media (max-width: 1024px) {
  #footer > p {
    font-size: 0.8rem;
  }
  .footer-img {
    width: 1rem;
    height: 1rem;
  }
}
