#Dialog-Div {
  width: 150px;
  height: 50px;
  background-color: rgb(234, 232, 232);
  /* filter: brightness(1.75); */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 8px;
  border: 1px solid rgb(178, 176, 176);
  position: absolute;
  animation: smooth-appear 1s ease forwards;
  bottom: -100%;
  right: 10px;
}
#Dialog-Div.bad {
  /* background-color: lightcoral; */
  background-image: linear-gradient(lightcoral, white);
}
#Dialog-Div.good {
  /* background-color: lightgreen; */
  background-image: linear-gradient(lightgreen, white);
}
@keyframes smooth-appear {
  to {
    bottom: 60px;
    opacity: 1;
  }
}

#Dialig-info-Div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}
#msg-symbol {
  width: 15px;
  height: 15px;
}
#Msg {
  font-size: 0.8rem;
}
