@import '../../node_modules/js-datepicker/dist/datepicker.min.css';
#event-register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 5% 5%;
}

#new-event-dates {
  display: flex;
  flex-direction: row;
}
#new-even-longdesc {
  min-height: 10rem;
  min-width: 60%;
  text-align: center;
}

#NewEventBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 40%;
}
#first-row-form,
#form-second-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#form-title-info,
#form-location-info,
#form-desc,
#form-places {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}
#titulo::after,
#new-event-location-P::after,
#new-event-desc-P::after,
#fechas::after,
#img-text::after {
  content: ' *';
}

#NewEventSubmit,
#CancelNewEvent {
  padding: 0.6rem 0.9rem;
}
