@import '../../node_modules/js-datepicker/dist/datepicker.min.css';
#event-register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 5% 5%;
}

#new-event-dates {
  display: flex;
  flex-direction: row;
}
#new-even-longdesc {
  min-height: 10rem;
  min-width: 60%;
}

#NewEventBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 40%;
}
