#landing,
#landing-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#landing {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#landing-msg {
  /* border: 2px solid rgb(50, 50, 128); */
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
  box-shadow: 2px 2px 5px 1px rgba(227, 224, 224, 0.4);
  background-color: rgb(224, 221, 221);
}
#landing-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#landing-login-btn:hover {
  background-color: lightgreen;
}
#landing-register-btn:hover {
  background-color: lightblue;
}

/* #landing.hide {
  display: none;
} */
