#drop_zone {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(8, 49, 154);
  border-radius: 10px;
  width: 200px;
  height: 100px;
  background-color: rgb(177, 177, 177);
  gap: 1.5rem;
  padding-top: 0.5rem;
}
#dropzone:hover {
  background-color: lightblue;
}

#drop_zone > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dropZone-text {
  color: blue;
}
