* {
  box-sizing: border-box;
}
#events-section {
  display: grid;
  grid-template-columns: repeat(3, 250px);
}

.event-article {
  display: flex;
  position: relative;
  width: 200px;
  height: 300px;
  box-shadow: 5px 6px 4px lightgray;
  margin: 01rem 1.5rem;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  background-color: rgb(239, 237, 237);
  cursor: pointer;
}
.event-article:hover {
  transform: scale(1.1);
}
#event-img {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  border-radius: 15px;
  align-self: flex-end;
}
#event-title {
  position: absolute;
  top: 8px;
  font-size: 1rem;
  width: 100%;
}
#event-desc {
  position: absolute;
  bottom: 20%;
  width: 80%;
  font-size: 1rem;
}
#reserved {
  content: '';
  position: absolute;
  top: -42px;
  right: -84px;
  height: 8rem;
  width: 150px;
  background-color: rgb(242, 136, 48);
  border-radius: 5px;
  border: 1px solid lightgray;
  transform: rotate(-45deg);
  clip-path: polygon(0 0, 14% 17%, 14% 82%, 0 99%);
  text-align: center;
  writing-mode: vertical-lr;
}
#event-date,
#event-location,
#event-desc {
  position: absolute;
  width: 100%;

  border-radius: 10px;
}
#event-info {
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 95%;
  background-color: rgb(235, 233, 233, 0.6);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  z-index: 1;
  margin-bottom: 5dvb;
}
#event-date {
  position: absolute;
  bottom: 40px;
  font-size: 0.8rem;
}
#event-location {
  bottom: 0;
  border-radius: 10px;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
