@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poetsen+One&display=swap');

:root {
  --ihc-header-height: 70px;
  --ihc-BG-color-HeaderFooter: #000000;
  /* footer */
  --ihc-footer-height: 3rem;
  --ihc-footer-gap: 0.5rem;
  /*BTN Register*/
  --ihc-BtnRegister-BG-color: lightblue;
  /* close page bton */
  --ihc-closeBtn-redX-size: 20px;
  /* basic gap */
  --ihc-basic-gap: 0.5rem;
}
/* body {
  background-color: rgb(62, 61, 61);
} */
* {
  font-family: 'Poetsen One', sans-serif;
}
