#register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#register-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#registrationBtn:hover {
  background-color: var(--ihc-BtnRegister-BG-color);
}
#registerBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.cancel:hover {
  background-color: lightcoral;
  border: none;
}
#registrationBtn:hover {
  border: none;
  background-color: lightgreen;
}
