#register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /* position: fixed; */
  height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
}
#register-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  border: 1px solid rgb(208, 206, 206);
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px lightgray;
}
#registrationBtn:hover {
  background-color: var(--ihc-BtnRegister-BG-color);
}
#registerBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.cancel:hover {
  background-color: lightcoral;
  border: none;
}
#sumitRegister:hover {
  background-color: rgb(127, 182, 127);
  border: none;
}

#sumitRegister {
  align-self: center;
  padding: 1rem 1.5rem;
  color: white;
  background-color: black;
  height: auto;
}
#publisherOption,
#publicara {
  font-size: 0.8rem;
}
#publisherOption {
  text-align: center;
}
#isPublisher {
  height: 15px;
  width: 15px;
  align-self: center;
}
#publisher {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-self: center;
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 12px;
  background-color: rgb(238, 232, 232);
  text-align: center;
  box-shadow: 1px 1px lightgray;
}
.custom-file-upload:hover {
  transform: scale(1.05);
}
@media (max-width: 500px) {
  #sumitRegister,
  #cancelBtn {
    padding: 0.6rem 0.7rem;
  }
  #register-page {
    align-items: center;
  }
}
