* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header,
#userLogged,
#app-Pages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header {
  justify-content: center;
  gap: 1rem;
  height: var(--ihc-header-height);
  background-color: var(--ihc-BG-color-HeaderFooter);
}
#app-Title {
  color: white;
  border: 1px solid white;
  padding: 10px 10px;
}

#app-Pages {
  width: 60%;
  justify-content: space-around;
  gap: 1rem;
}
#EventsLink,
#loginLink,
#registerLink,
#logoutLink {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 5px 5px;
}
#NewEvent,
#OrganEvents {
  color: rgb(19, 84, 154);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 5px;
}
#NewEvent:hover,
#OrganEvents:hover,
#loginLink:hover,
#logoutLink:hover,
#EventsLink:hover,
#registerLink:hover {
  background-color: rgba(211, 211, 211, 0.538);
  border-radius: 5px;
}
#EventsLink {
  font-size: 1rem;
}
#registerLink,
#loginLink,
#logoutLink,
#EventsLink {
  font-size: 0.8rem;
}
#userLogged {
  justify-content: center;
  gap: 1rem;
  border: 1px solid lightgray;
  padding: 0 0.2rem;
  border-radius: 5px;
  font-size: 0.6rem;
}
.userIcon {
  height: 2rem;
  width: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: lightgrey;
}
.userName {
  color: white;
}
@media (max-width: 980px) {
  #app-Title {
    font-size: 0.8rem;
  }
}
@media (max-width: 760px) {
  #app-Title {
    display: none;
  }
  #header {
    gap: 0.2rem;
    justify-content: space-around;
  }
}
@media (max-width: 460px) {
  #userLogged {
    gap: 0.5rem;
  }
  .userName {
    font-size: 0.6rem;
  }
  #NewEvent,
  #loginLink,
  #registerLink,
  #logoutLink,
  #OrganEvents {
    font-size: 0.8rem;
  }
  #app-Pages {
    width: 80%;
  }
  .userName {
    display: none;
  }
  #userLogged {
    border: none;
  }
  #header {
    gap: 0.2rem;
    justify-content: center;
  }
}
@media (max-width: 370px) {
  #NewEvent,
  #loginLink,
  #registerLink,
  #logoutLink,
  #OrganEvents {
    font-size: 0.6rem;
  }
  #app-Pages {
    gap: 0.5rem;
  }
}
