* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header,
#userLogged,
#app-Pages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header {
  justify-content: space-around;
  gap: 1rem;
  height: var(--ihc-header-height);
  background-color: var(--ihc-BG-color-HeaderFooter);
  margin-bottom: 0.5rem;
}
#app-Title {
  font-size: 1rem;
}

#app-Pages {
  width: 60%;
  justify-content: space-around;
  gap: 1rem;
}
#EventsLink,
#loginLink,
#registerLink,
#logoutLink {
  cursor: pointer;
  text-decoration: none;
  color: rgb(4, 4, 82);
  font-weight: bold;
}
#NewEvent {
  color: rgb(188, 77, 77);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
#EventsLink {
  font-size: 1rem;
}
#registerLink,
#loginLink,
#logoutLink {
  font-size: 0.8rem;
}
#userLogged {
  justify-content: center;
  gap: 1rem;
  border: 1px solid lightgray;
  padding: 0 0.2rem;
  border-radius: 5px;
  font-size: 0.6rem;
}
.userIcon {
  height: 2rem;
  width: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: lightgrey;
}
@media (max-width: 550px) {
  #app-Title {
    display: none;
  }
}
@media (max-width: 420px) {
  #userLogged {
    gap: 0.5rem;
  }
  .userName {
    font-size: 0.6rem;
  }
  #NewEvent,
  #loginLink,
  #registerLink,
  #logoutLink {
    font-size: 0.8rem;
  }
  #app-Pages {
    width: 80%;
  }
}
