#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
  width: 100%;
}
#alreadyLogged {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#alreadyLogged::before {
  content: url('./green-check.png');
  height: 18px;
}
#login-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 5% 4%;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px lightgray;
}
#loinginfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#LoginBtn {
  width: 30%;
  align-self: center;
  text-align: center;
  padding: 0.6rem 0.6rem;
  font-size: 0.6rem;
}
#logindiv {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
@media (max-width: 500px) {
  #login-page {
    width: 75%;
  }
  #password,
  #LoginUser {
    width: 100%;
    height: 1.5rem;
    font-size: 0.6rem;
  }
  #LoginName,
  #LoginPassword {
    font-size: 0.6rem;
  }
}
