#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
  width: 100%;
}
#alreadyLogged {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#alreadyLogged::before {
  content: url('./green-check.png');
  height: 18px;
}
#login-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#loinginfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
